#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.links {
  margin-left: 10px;
  margin-right: 10px;
}
